* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla";
  color: #2b272f;
  font-size: 16px;
}

a, li {
  text-decoration: none;
  text-transform: uppercase;
}

h1, h2, section h2, section th, aside h2 {
  font-family: "DM Serif Display";
}

nav, footer {
  background-color: #fafafa;
}

header, aside {
  background-color: #2d2640;
  color: white;
}

nav {
  width: 100%;
}
nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 60px;
  margin: auto;
}
nav img {
  width: 118px;
  height: 18px;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  text-align: center;
  display: inline-block;
  padding: 15px;
}
nav li span {
  display: inline-block;
  background-color: #fafafa;
  color: #2d2640;
  border: 1px solid #2d2640;
  padding: 5px 25px;
  text-align: center;
  transition: all 300ms ease-in-out;
}
nav li span:hover {
  font-weight: 700;
  background-color: #2d2640;
  color: white;
  border: 1px solid #2d2640;
}
nav a {
  color: #2b272f;
}

header {
  height: 300px;
  padding: 80px 10% 80px 10%;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}
header div {
  width: 100%;
  position: relative;
}
header div h1 {
  font-size: 3.5rem;
  line-height: 3rem;
  padding: 50px 0 20px 0;
}
header div h1::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 120px;
  border-top: solid white 1px;
}
header div a {
  display: inline-block;
  background-color: #2d2640;
  color: white;
  border: 1px solid white;
  padding: 5px 25px;
  text-align: center;
  transition: all 300ms ease-in-out;
  margin-top: 20px;
}
header div a:hover {
  font-weight: 700;
  background-color: white;
  color: #2b272f;
  border: 1px solid white;
}
header img {
  width: 80%;
  min-width: 118px;
}

section {
  padding-top: 160px;
}
section div {
  position: relative;
}
section h2 {
  padding: 30px 0;
  width: 80%;
  margin: auto;
  font-size: 2.8rem;
  font-weight: normal;
}
section h2::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 120px;
  border-top: solid #a99fc6 1px;
}
section table {
  width: 80%;
  margin: auto;
  text-align: left;
  padding: 20px 0 20px 0;
}
section table img {
  width: 50px;
}
section table th {
  padding: 20px 0;
  color: #2b272f;
}
section table tr {
  color: #837d87;
  margin: 50px;
}

aside {
  width: 73%;
  margin: 80px auto;
  padding: 50px 60px;
  position: relative;
}
aside h2 {
  width: 34%;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: normal;
}
aside a {
  width: 120px;
  display: inline-block;
  background-color: #2d2640;
  color: white;
  border: 1px solid white;
  padding: 5px 25px;
  text-align: center;
  transition: all 300ms ease-in-out;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
aside a:hover {
  font-weight: 700;
  background-color: white;
  color: #2b272f;
  border: 1px solid white;
}

footer #social-container, footer table {
  width: 80%;
  margin: auto;
  padding: 30px 0 12px 0;
}
footer #social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #cfcdd0;
}
footer #social-container a {
  width: 118px;
  height: 18px;
}
footer #social-container a :hover {
  filter: brightness(30%);
}
footer #social-container #social-icons {
  text-align: right;
  margin: 0;
  padding: 20px 0 20px 0;
}
footer #social-container #social-icons img {
  padding: 0 5px;
  width: 20px;
  height: 20px;
}
footer table {
  text-align: left;
  font-size: 0.9rem;
  padding-bottom: 50px;
}
footer table th {
  color: #837d87;
  text-transform: uppercase;
  padding: 25px 0;
}
footer table td {
  padding-bottom: 10px;
}
footer table td a {
  color: #2b272f;
  font-weight: 700;
}
footer table td a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
