//VARIABLES
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-grey: hsl(0, 0%, 98%);

$font-size: 16px;

@mixin link-box ($bg-color, $font-color, $hover-bg-color, $hover-font-color) {
    display: inline-block;
    background-color: $bg-color;
    color: $font-color;
    border: 1px solid $font-color;
    padding: 5px 25px;
    text-align: center;
    transition: all 300ms ease-in-out;
    &:hover {
        font-weight: 700;
        background-color: $hover-bg-color;
        color:$hover-font-color;
        border: 1px solid $hover-bg-color;
    }
}

@mixin line-above ($color) {
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        width: 120px;
        border-top: solid $color 1px;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Karla";
    color: $very-dark-violet;
    font-size: $font-size;
}

a, li {
    text-decoration: none;
    text-transform: uppercase;
}

h1, h2, section h2, section th, aside h2 {
    font-family: "DM Serif Display";
}

nav, footer {
    background-color: $very-light-grey;
}

header, aside {
    background-color: $dark-violet;
    color: white;
}

nav {
    width: 100%;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 60px;
        margin: auto;    
    }
    img {
        width: 118px;
        height: 18px;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li {
        text-align: center;
        display: inline-block;
        padding: 15px;
        span {
            @include link-box($very-light-grey, $dark-violet, $dark-violet, white)
        }
    }
    a {
        color: $very-dark-violet;
    }
}

header {
    height: 300px;
    padding: 80px 10% 80px 10%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    div {
        width: 100%;
        position: relative;
        h1 {
            font-size: 3.5rem;
            line-height: 3rem;
            padding: 50px 0 20px 0;
            @include line-above(white);
        }
        a {
            @include link-box($dark-violet, white, white, $very-dark-violet);
            margin-top: 20px;
        }
    }
    img {
        width: 80%;
        min-width: 118px;
    }
}

section {
    padding-top: 160px;
    div {
        position: relative;
    }
    h2 {
        padding: 30px 0;
        width: 80%;
        margin: auto;
        font-size: 2.8rem;
        font-weight: normal;
        @include line-above(lighten($dark-violet, 50));
    }
    table {
        width: 80%;
        margin: auto;
        text-align: left;
        padding: 20px 0 20px 0;
        img {
            width: 50px;
        }
        th {
            padding: 20px 0;
            color: $very-dark-violet;
        }
        tr {
            color: $dark-grayish-violet;
            margin: 50px;
        }
    }    
}


aside {
    width: 73%;
    margin: 80px auto;
    padding: 50px 60px;
    position: relative;
    h2 {
        width: 34%;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: normal;
    }
    a {
        width: 120px;
        @include link-box($dark-violet, white, white, $very-dark-violet);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }
}

footer {
    #social-container, table {
        width: 80%;
        margin: auto;
        padding: 30px 0 12px 0;
    }
    #social-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px lighten($dark-grayish-violet, 30);
        a {
            width: 118px;
            height: 18px;
            :hover{
                filter: brightness(30%);
            }   
        }
        #social-icons {
            text-align: right;
            margin: 0;
            padding: 20px 0 20px 0;
            img {
                padding: 0 5px;
                width: 20px;
                height: 20px;
            }
        }
    }
    table {
        text-align: left;
        font-size: 0.9rem;
        padding-bottom: 50px;
        th {
            color: $dark-grayish-violet;
            text-transform: uppercase;
            padding: 25px 0;
        }
        td {
            padding-bottom: 10px;

            a {
                color: $very-dark-violet;
                font-weight: 700;
                &:hover{
                    text-decoration: underline;
                }

            }
        }
    }
}