//VARIABLES
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-grey: hsl(0, 0%, 98%);

$font-size: 16px;
$breaking-points: (lg:1100px, md: 900px, sm: 500px, xs: 300px);

@mixin mQ($min-size, $max-size) {
    @media screen and (min-width: $min-size) and (max-width: $max-size) {
        @content;
    }
}

@mixin link-box ($bg-color, $font-color, $hover-bg-color, $hover-font-color) {
    display: inline-block;
    background-color: $bg-color;
    color: $font-color;
    border: 1px solid $font-color;
    padding: 5px 25px;
    text-align: center;
    transition: all 300ms ease-in-out;
    &:hover {
        font-weight: 700;
        background-color: $hover-bg-color;
        color:$hover-font-color;
        border: 1px solid $hover-bg-color;
    }
}

@mixin line-above ($color) {
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        width: 120px;
        border-top: solid $color 1px;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Karla";
    color: $very-dark-violet;
    font-size: $font-size;
}

a, li {
    text-decoration: none;
    text-transform: uppercase;
}

h1, h2, section h2, section th, aside h2 {
    font-family: "DM Serif Display";
}

nav, footer {
    background-color: $very-light-grey;
}

header, aside {
    background-color: $dark-violet;
    color: white;
}

nav {
    width: 100%;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 60px;
        margin: auto;    
    }
    img {
        width: 118px;
        height: 18px;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li {
        text-align: center;
        display: inline-block;
        padding: 15px;
        span {
            @include link-box($very-light-grey, $dark-violet, $dark-violet, white)
        }
    }
    a {
        color: $very-dark-violet;
    }
}

header {
    height: 300px;
    padding: 6% 10%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;

    div {
        width: 100%;
        position: relative;
        padding-right: 5%;
        h1 {
            font-size: 3.5rem;
            line-height: 3rem;
            padding: 50px 0 20px 0;
            @include mQ(map-get($breaking-points, sm), 9999px) {
                @include line-above(white);
            }
        }
        a {
            @include link-box($dark-violet, white, white, $very-dark-violet);
            margin-top: 30px;
        }
    }
    @include mQ(map-get($breaking-points, xs), map-get($breaking-points, lg)) {
        height: 400px;
    }
    @include mQ(0, map-get($breaking-points, sm)) {
        text-align: center;
        overflow: visible;
        padding: 10% 10% 0 10%;
        margin: 0;
        div h1 {
            font-size: 2.4rem;
            line-height: 2.2rem;
        }
    }
}

section {
    padding-top: 200px;
    position: relative;
    div {
        position: relative;
    }
    h2 {
        padding: 30px 0;
        width: 80%;
        margin: auto;
        font-size: 2.8rem;
        font-weight: normal;
        &::before {
            content: "";
            position: absolute;
            top: 0%;
            width: 120px;
            border-top: solid $dark-violet 1px;
            @include mQ(0px, map-get($breaking-points, sm)) {
                left: 50%;
                transform: translate(-50%, -50%);
            }        
        }
    }
    table {
        width: 80%;
        margin: auto;
        text-align: left;
        padding: 20px 0 20px 0;
        img {
            width: 50px;
        }
        th {
            padding: 20px 0;
            color: $very-dark-violet;
        }
        tr {
            color: $dark-grayish-violet;
            margin: 50px;
        }
    }
    @include mQ(0px, map-get($breaking-points, sm)) {
        padding-top: 100px;
        text-align: center;
    }
}


aside {
    width: 73%;
    margin: 80px auto;
    padding: 50px 60px;
    position: relative;
    overflow: hidden;
    background-image: url("images/bg-pattern-how-we-work-desktop.svg");
    background-position: top right;
    background-repeat: no-repeat;
    h2 {
        width: 350px;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: normal;
    }
    a {
        width: 120px;
        @include link-box($dark-violet, white, white, $very-dark-violet);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }
    @include mQ(map-get($breaking-points, xs), map-get($breaking-points, md)) {
        background-image: url("images/bg-pattern-how-we-work-mobile.svg");
        background-position: top right;
        background-repeat: no-repeat;    
        h2, a {
            display: block;
            width: 100%;
            display: block;
            position: static;
            transform: none;
            margin: auto;
            text-align: center;
        }
        a {
            width: 120px;
            margin-top: 30px;
        }
    }

}

footer {
    #social-container, table {
        width: 80%;
        margin: auto;
        padding: 30px 0 12px 0;
    }
    #social-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px lighten($dark-grayish-violet, 30);
        a {
            width: 118px;
            height: 18px;
            :hover{
                filter: brightness(30%);
            }   
        }
        #social-icons {
            text-align: right;
            margin: 0;
            padding: 20px 0 20px 0;
            img {
                padding: 0 5px;
                width: 20px;
                height: 20px;
            }
        }
    }
    table {
        text-align: left;
        font-size: 0.9rem;
        padding-bottom: 50px;
        th {
            color: $dark-grayish-violet;
            text-transform: uppercase;
            padding: 25px 0;
        }
        td {
            padding-bottom: 10px;

            a {
                color: $very-dark-violet;
                font-weight: 700;
                &:hover{
                    text-decoration: underline;
                }

            }
        }
    }
}

#pattern-desktop-left {
    width: 11%;
    min-width: 150px;
    position: absolute;
    top: -175px;
    left: 0;
    @include mQ(map-get($breaking-points, sm), map-get($breaking-points, md)) {
        top: -80px;
    }
    @include mQ(0, map-get($breaking-points, sm)) {
        display: none;
    }
}

#pattern-mobile-left {
    display: none;
    @include mQ(0, map-get($breaking-points, sm)) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
}

#pattern-desktop-right {
    position: relative;
    top: -150px;
    right: -15%;
    width: 500px;
    height: 500px;   
    z-index: 5;
    @include mQ(0px, map-get($breaking-points, sm)) {
        display: none;
    }
}

#pattern-mobile-right {
    display: none;
    @include mQ(0, map-get($breaking-points, sm)) {
        display: block;
        position: absolute;
        bottom: -180px;
        right: 0;
    }
}

#portrait-desktop {
    width: 375px;
    height: 500px;
    position: absolute;
    bottom: 150px;
    right: 10%;
    z-index: 3;
    @include mQ(map-get($breaking-points, sm), map-get($breaking-points, lg)) {
        width: 35%;
        height: auto;
    }
    @include mQ(0px, map-get($breaking-points, sm)) {
        display: none;
    }
}
    
#portrait-mobile {
    display: none;
    @include mQ(0px, map-get($breaking-points, sm)) {
        display: block;
        width: 100%;
    }
}